*,
::before ::after {
  box-sizing: border-box;
}

:root {
  --main-color: #439093;
  --secondary-color: #f09b93;
  --tertiary-color: #e9dd8a;
  --text-color: black;
}

Body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 10px;
  padding-left: 30px;
  margin: 0;
  background-color: #e9dd8a;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 20px;
  font-size: 2rem;
  background-color: #439093;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 20px;
}

li:hover {
  color: grey;
}

article {
  padding-top: 20px 30px 0px 30px;  
}

h2 {
  color: var(--secondary-color);
  padding-bottom: 5px;
}

.next-trips-boxes {
  padding: 0;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.parent-container {
  position: relative;
  text-align: center;
  color: white;
  object-fit: cover;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.parent-container:hover {
  opacity: 70%;
  transition: opacity 0.5s;
}

.parent-container:hover {
  transform: scale(1:1);
  transition-delay::backdrop /* Review. */
}

.top-left {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: #f09b93ab;
  padding: 10px;
  border-color: #f09b932c;
  border-radius: 5px;
  margin-top: 5px;
}

.landscapes {
  width: 280px;
  height: 280px;
  margin: 10px;
  border-radius: 5px;
}

footer {
  background-color: #e9dd8a;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
}
